@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
    <body>
        <form asp-action="SignUp" asp-controller="Home" method="post" >
            <div>
                <label>Ad</label>
                <input type="text" placeholder="Adınızı Giriniz."/>
            </div>
                <label> Soyad</label>
                <input type="text" placeholder="Soyadınızı Giriniz."/>
            <div>
                <label>Yas</label>
                <input type="text" placeholder="Yaşınızı Giriniz."/>
            </div>
            <div>
                <label>Kullanıcı Adınızı giriniz.</label>
                <input type="text" placeholder="Kullanıcı adı giriniz."/>
            </div>
            <div>
                <label>Sifre</label>
                <input type="password" placeholder="Şifre giriniz."/>

            </div>
            <button>Kaydet</button>
            <div>
                <
            </div>
            
        </form>
    </body>
</html>