@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@model User

        <form asp-action="SignUp" asp-controller="Home" method="post" >
            <div>
                <label>Ad</label>
                <input type="text" placeholder="Adınızı Giriniz." asp-for="Ad"/>
            </div>
                <label> Soyad</label>
                <input type="text" placeholder="Soyadınızı Giriniz." asp-for="Soyad"/>
            <div>
                <label>Yas</label>
                <input type="text" placeholder="Yaşınızı Giriniz." asp-for="Yas"/>
            </div>
            <div>
                <label>Kullanıcı Adınızı giriniz.</label>
                <input type="text" placeholder="Kullanıcı adı giriniz." asp-for="UserName"/>
            </div>
            <div>
                <label>Sifre</label>
                <input type="password" placeholder="Şifre giriniz." asp-for="Password"/>

            </div>
            <button>Kaydet</button>
            <div>
                
            </div>
            
        </form>
